* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
.container {
  background:gray;
  overflow:hidden;
  transition:.8s;
}
.grid {
  display:grid;
  grid-gap:0px;
}
.grid-columns {
  grid-template-columns:50% 50%;
}
.grid-rows {
  grid-template-rows:50% 50%;
}
.tamanho {
  height:300px;
  width:100%;
}
@media screen and (width<=600px) {
  .tamanho {
    height:600px;
  }
}
.border {
  border:2px solid black;
  border-radius:12px;
}
.item {
  background:tomato;
  border-radius:12px;
  color:white;
  margin:5px;
  padding:4px;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:.8s;
}
.item:hover {
  background:greenyellow;
  text-shadow:1px 2px 2px black;
}